# user files
*.user
*.suo

# hidden folders
.*/**
.*/*

# build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Tt]arget/
x64/
x86/
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
[Tt]est[Rr]esults/

# condo files
[Cc]ondo.[Aa]ssembly[Ii]nfo.cs

# jetbrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover

# include solution based resharper settings
!*.[Dd]ot[Ss]ettings

# nuget packages
*.nupkg
*.nuget.props

# include self
!.gitignore
!.gitattributes

# mac files
.DS_Store

# win files
[Tt]humbs.db

# log files
*.log

#vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
