# user files
*.user
*.suo

# hidden folders
.*/**
.*/*

# build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Tt]arget/
x64/
x86/
[Bb]in/
[Oo]bj/
[Aa]rtifacts/

# package manager artifacts
[Pp]ackages/
[Nn]ode_[Mm]odules/
[Bb]ower_[Cc]omponents/

# visual studio 2015 cache/options
[Pp]roject.lock.json
[Cc]ondo.[Aa]ssembly[Ii]nfo.cs

# jetbrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover

# include solution based resharper settings
!*.[Dd]ot[Ss]ettings

# mstest results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Bb]uild.[Ll]og

# nuget packages
*.nupkg
*.nuget.props

# include self (tfignore)
!.tfignore
!.gitignore
!.gitattributes

# mac files
.DS_Store

# win files
[Tt]humbs.db

# log files
*.log

# docs
vnd/
docs/src/

#vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
