.bd-booticon {
  padding-left: .25em;
  padding-right: .25em;
  color: #fff;
  text-align: center;
  cursor: default;
  background-color: $bd-purple;
  border-radius: 15%;

  &.inverse {
    color: $bd-purple;
    background-color: #fff;
  }
  &.outline {
    background-color: transparent;
    border: 1px solid $bd-purple-light;
  }
}
