.docs-sidebar {
  @include media-breakpoint-up(md) {
    padding-left: 1rem;
  }
}

.docs-search {
  position: relative;
  margin-bottom: 1.5rem;

  .form-control {
    height: 2.45rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    background-color: #fafafa;
    width: 75%;

    &:focus {
      background-color: #fff;
      width: 100%;
    }

    transition: width 0.3s ease-in-out 0s;
  }
}

#search-results {
  display: block;
  visibility: hidden;
  opacity: 0;

  right: 0;
  padding: 0;
  overflow: hidden;
  font-size: .9rem;
  opacity: 0;

  a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    padding: .75em;
    color: $docs-graphite-light;
    border-bottom: 1px solid $docs-graphite-light;

    &:hover, &.selected {
      background-color: $docs-info;
      color: white;
    }

    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; border-bottom: none; }
  }
}

#search-container.active #search-input:focus ~ #search-results, #search-results:active, #search-results:focus, #search-results:hover {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0s;
}

.docs-sidenav {
  display: none;
}

.docs-toc-link {
  display: block;
  padding: .25rem .75rem;
  color: $gray;
}
.docs-toc-link:hover,
.docs-toc-link:focus {
  color: $brand-primary;
  text-decoration: none;
}
.active > .docs-toc-link {
  font-weight: 500;
  color: $gray-dark;
}
.active > .docs-sidenav {
  display: block;
}

.docs-toc-item.active {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.docs-toc-item:first-child {
  margin-top: 0;
}
.docs-toc-item:last-child {
  margin-bottom: 2rem;
}

.docs-sidebar .nav > li > a {
  display: block;
  padding: .25rem .75rem;
  font-size: 90%;
  color: #99979c;
}
.docs-sidebar .nav > li > a:hover,
.docs-sidebar .nav > li > a:focus {
  color: $brand-primary;
  text-decoration: none;
  background-color: transparent;
}
.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > .active:hover > a,
.docs-sidebar .nav > .active:focus > a {
  font-weight: 500;
  color: $gray-dark;
  background-color: transparent;
}
