@import "vnd/bootstrap/bootstrap";
@import "vnd/font-awesome/font-awesome";

$docs-purple:         #563d7c;
$docs-purple-bright:  lighten(saturate($docs-purple, 5%), 15%);
$docs-purple-light:   #cdbfe3;
$docs-graphite:       #2a2730;
$docs-graphite-light: lighten($docs-graphite, 40%);
$docs-yellow:         #ffe484;
$docs-danger:         #d9534f;
$docs-warning:        #f0ad4e;
$docs-info:           #5bc0de;

@import "nav";
@import "masthead";
@import "featurettes";
@import "content";
@import "page-header";
@import "skiplink";
@import "sidebar";
@import "footer";
@import "examples";
@import "buttons";
@import "callouts";
@import "team";
@import "clipboard-js";

@import "syntax";
@import "anchor";