<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
      <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <activePackageSources>
      <add key="All" value="(Aggregate source)" />
  </activePackageSources>

  <packageSources>
    <add key="nuget.org (v3)" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
