<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
      <add key="PulseBridge (Unstable)" value="https://www.myget.org/F/pulsebridge/api/v2" />
      <add key="nuget.org" value="https://nuget.org/api/v2/" />
  </packageSources>

  <activePackageSources>
      <add key="All" value="(Aggregate source)" />
  </activePackageSources>

  <solution>
      <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>